<<<<<<< HEAD
.breadcrumb-dn {
    margin-left: 0.5em;
=======
.fa-1x {
    font-size: 1.5rem;
    }
.navbar-toggler.toggler-example {
    cursor: pointer;
    }
.dark-blue-text {
    color: #0A38F5;
    }
.dark-pink-text {
    color: #AC003A;
    }
.dark-amber-text {
    color: #ff6f00;
    }
.dark-teal-text {
    color: #004d40;
    }
.navbar-toggler
{       
        // padding-left: 0px;
        width: 47px;
        height: 44px;
}
.navbar-toggler .line
{
            width: 100%;
            float: left;
            height: 4px;
            background-color: #fff;
            margin-bottom: 2px;
>>>>>>> ddddba38020590ad7ccd899ba282ac2b955448d9
}