<!--Navbar-->
<mdb-navbar SideClass="navbar fixed-top navbar-toggleable-md navbar-expand-lg navbar-dark unique-color" [containerInside]="false">

<
    <!-- SideNav slide-out button -->
    <div class="float-left">
        <a href="#" data-activates="slide-out" class="button-collapse"><i class="fas fa-bars fa-lg icon"></i></a>
    </div>

    <!-- Navbar brand -->

    <a class="navbar-brand mt-2 mt-lg-0" href="#">
        <!-- <img src="https://mdbootstrap.com/img/logo/mdb-transaprent-noshadows.png" height="15" alt="" loading="lazy" /> -->
        <div class="breadcrumb-dn mr-auto">
            <a>DEVWALS.<small>LINK</small></a>
        </div>
    </a>

    <!-- <mdb-navbar-brand><a class="navbar-brand" href="#">DEVWALLS.LINK</a></mdb-navbar-brand> -->

    <!-- Collapsible content -->
    <links>
        <ul class="navbar-nav ml-auto nav-flex-icons">
            <li class="nav-item">
                <a class="nav-link">
                    <mdb-icon fas icon="info"></mdb-icon> |
                </a>
            </li>


            <li class="nav-item">
                <a class="nav-link">
                    Prashant Devakota
                </a>
            </li>

            <li class="nav-item avatar dropdown" dropdown>
                <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
                    <!-- <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-2.jpg" alt="" class="img-fluid rounded-circle z-depth-0"></a> -->
                    <img src="https://mdbootstrap.com/img/Photos/Avatars/img (31).jpg" class="rounded-circle" height="22" alt="" loading="lazy">
                </a>
                <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown dropdown-primary" role="menu">
                    <a class="dropdown-item waves-light" mdbWavesEffect href="#">My account</a>
                    <a class="dropdown-item waves-light" mdbWavesEffect href="#">Log out</a>
                </div>
            </li>
        </ul>
    </links>
    <!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->




