<main>
    <br>
    <br>
    <br>
    <br><br>
    <br>
    <!--Container class-->
    <div class=".container-fluid main">

        <!--Search Communications grid-->
        <div class="row">
            <div class="col-1"></div>
            <div class="col-10">
                <h6 style="color:rgb(0, 102, 153);">Search Communications</h6>
            </div>
            <div class="col-1"></div>
        </div>
        
        <!--Search communications content grid-->
        <div class="row">
            <div class="col-1"></div>
            <div class=col-5>
                <div class="form-outline">
                    <form #f="ngForm" (ngSubmit)="onFormSubmit(f)">       
                        <input type="text" id="typeText" name="emailid" ngModel required class="form-control"> 
                        <label class="form-label" for="typeText"></label>
                        <!-- <button type="submit" mat-raised-button color="accent"matTooltip="Click Submit Button">Submit</button>   -->
                    </form>
                </div>
            </div>
            <div class="col-1">
                <mdb-icon style="margin-top: 10px;"class="infoicon" fas icon="info"></mdb-icon>
            </div>
            <div class="col-4"><select class="browser-default custom-select">
                    <option selected>All</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select></div>
            <div class="col-2"></div>
        </div>

        <br>

        <!--Advanced filters grid-->
        <div class="advfilter">
            <div class="row">
                <div class="col-1"></div>
                <div class="col-10">
                    <h6 style="color:rgb(0, 102, 153);">Advanced filters</h6>
                </div>
                <div class="col-1"></div>
            </div>

            <!--Advanced filters content grid-->
            <div class="row">
                <div class="col-1"></div>
                <div class="col-1">Date from:</div>
                <!-- <div class="col-3"></div> -->
                <div class="col-3">
                    <div id="date-picker-example" class="">
                        <input placeholder="Select date" type="date" id="example" class="form-control">
                        <label for="example"></label>
                    </div>
                </div>
                <div class="col-7"></div>
            </div>

            <div class="row">
                <div class="col-1"></div>
                <div class="col-1">Date to:</div>
                <!-- <div class="col-1"></div> -->
                <div class="col-3">
                    <div id="date-picker-example" class="">
                        <input placeholder="Select date" type="date" id="example" class="form-control">
                        <label for="example"></label>
                    </div>
                </div>
                <div class="col-7"></div>
            </div>
        </div>
            <!--Table grid-->

        <!--Results grid-->
        <div class="row">
            <div class="col-1"></div>
            <div class="col-10">
                <h6 style="color:rgb(0, 102, 153);">Results for {{this.email}}</h6>
            </div>
            <div class="col-1"></div>
        </div>

        <!--Results table grid-->
        <div class="row">
            <div class="col-1"></div>
            <div class="col-10">
                <table id="table_body" class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col" style="width: 30%;">Entity</th>
                            <th scope="col">Engagement</th>
                        </tr>
                    </thead>
                    <tbody >
                        <!-- <tr>
                            <td>{{employee_email}}</td>
                            <td>{{employee_name}}</td>
                        </tr> -->
                        <tr>
                            <td>mdinsaf@gmail.com <i style="float: right"class="far fa-envelope fa-lg ic"> </i></td>

                            <td><p style="background-color:rgb(76, 160, 76);
                                display: inline;
                                padding:0.2em 0.5em 0.2em 0.5em;
                                border-radius: 0.3em;">40</p> <i style="float: right;" class ="fas fa-ellipsis-h elip"></i></td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-5"></div>
            <div class="col-4">
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item active" aria-current="page">
                            <a class="page-link" href="#">2 <span class="visually-hidden"></span></a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="col-3"></div>
        </div>

    </div>
</main>